* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: black;}
img {display: block;}
/* default setting */

/* ---------------- header ----------------- */
.outerHeader {
    width: 100%;
}
.innerHeader {
    width: 1030px;
    margin: 0 auto;
}
.innerHeader .nabBox {
    width: 100%;
    overflow: hidden;
    /* 패딩으로 띄우지 않아도 됨 */
}
.innerHeader .nabBox .brand {
    float: left;
}

.innerHeader .nabBox .gnb {
    float: right;
}
.innerHeader .nabBox .gnb ul {
    font-size: 0;
}
.innerHeader .nabBox .gnb li {
    display: inline-block;
    font-size: 11px;
    border-right: 1px solid #999;
    padding: 0 8px 0 1px;
    line-height: 9px;
}
.innerHeader .nabBox .gnb li:last-child {
    border: none;
    padding-right: 0;
}
.innerHeader .nabBox .gnb li a {
    color: #999;
}

.innerHeader .logoBox {
    width: 100%;
    margin: 2px 0;
    position: relative;
}
.innerHeader .logoBox .logo {
    width: 200px; height: 70px;
    margin: 0 auto;
}
.innerHeader .logoBox .search {
    position: absolute;
    top: 30px; right: 0;
}

.lnbBox {
    width: 100%;
    height : 30px;
    background-color: #1d2d51;
}
.lnbBox .lnb {
    width: 1030px;
    margin: 0 auto;
}
.lnbBox .lnb li {
    display: inline-block;
    line-height: 30px;
    padding: 0 25px;
}
.lnbBox .lnb li a {
    color: white;
}

/* ---------------wrap---------------- */
.wrap {
    width: 1030px; margin: 0 auto;
}

/* ---------------visualMain---------------- */
.visualMain {
    width: 100%; /*생략가능*/
    overflow: hidden;
    margin: 15px 0;
}
.visualMain .visualMainSlide {
    float: left;
    width: 700px; height: 530px;
    margin-right: 15px;
}
.visualMain .visualMainSlide img {width: 100%; height: auto;/* 가로비율에 세로비율을 맞춘다. height:100%;를 쓰면 이미지 왜곡이 일어나는데, 수정이 어렵다면 써라. */}
.visualMain .visualMainBanner {
    float: left;
    width: 315px; height: 530px;
}
.visualMain .visualMainBanner .visualBannerDeal {
    margin-bottom: 15px;
}

.titleBox {
    width: 100%;
    overflow: hidden;
}
.titleBox .bar {
    float: left;
    width: 400px; height: 50px;
    padding-top: 25px; box-sizing: border-box;
}
.titleBox .title {
    float: left;
    width: 230px; height: 50px;
    text-align: center; line-height: 50px;
}

.choice {
    margin-bottom: 70px;
}
.choice .choiceBox {
    border: 1px solid #f2f2f2; box-sizing: border-box;
    margin-bottom: 50px;
}


/* -------------------New Arrival---------------------- */
.newArrivalBox {margin-bottom: 70px;}

#tabMillet, #tabLimited {display: none;}

#tabMillet:checked ~ .items .itemsMillet {display: block;}
#tabLimited:checked ~ .items .itemsLimited {display: block;}

#tabMillet:checked ~ .label .labelMillet {color: #333;}
#tabLimited:checked ~ .label .labelLimited {color: #333;}

.label {width: 100%;overflow: hidden;}
.label label {
    float: left;
    width: 80px; height: 55px; line-height: 55px; font-size: 14px; color: #999;
    text-align: center;
    cursor: pointer;
}
.label label:first-child {
    margin-left: 424px;
} 
.items .itemsMillet, .items .itemsLimited {
    display: none;
    width: 1030px; height: 665px;
}
.items .itemsMillet>div {
    float: left;
}
.items .itemsMillet ul li {
    float: left;
    width: 245px; height: 220px;
}
.items .itemsMillet ul li:first-child {
    margin-right: 15px;
}
.items .itemWomen {margin-right: 20px;}
.items .itemWomen div, .items .itemMen div {
    width: 505px; height: 430px;
}
.items .itemsMillet .itemMen ul {
    height: 220px;
}
.items .itemsMillet .itemMen div {
    margin-top: 15px;
}
.items .itemsLimited {
    width: 1030px; height: 722px; line-height: 722px;
    background-color: #ddd; text-align: center;
}

.items img {width: 100%; height: auto;}


/* -------------------New Arrival---------------------- */

.multiShop {
    height: 400px;
    margin: 20px 0 70px 0;
}
.multiShop ul,.multiShop div {
    float: left;
}
.multiShop ul li {
    width: 342px; height: 190px;
}
.multiShop ul li:first-child {
    margin-bottom: 15px;
}
.multiShop div {
    width: 313px; height: 395px;
    margin: 0 15px;
}
.multiShop img {
    width: 100%; height: 100%;
}


/* -------------------brandCodi---------------------- */

.brandCodi {
    margin: 20px 0 70px 0;
    width: 100%; height: 170px;
}
.brandCodi div {
    float: left;
}
.brandCodi div:first-child {
    margin-right: 20px;
}


/* -------------------footer---------------------- */

footer {
    width: 1030px; height: 150px; margin: 0 auto;
}
footer .footerMenuBox {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
footer .footerMenu {
    float: left;
}
footer .sns {
    float: right;
}
.footerMenuBox ul {
    font-size: 0;
}
.footerMenuBox ul li {
    display: inline-block;
    font-size: 16px;
    padding: 0 8px 0 1px;
    line-height: 43px;
    color: #999;
}
.footerMenuBox ul li:last-child {
    border: none;
    padding-right: 0;
}
.footerMenuBox ul li a {
    color: #999;
}
.footerMenuBox .footerMenu ul li:last-child a {
    font-weight: bold; color: #1d2d51;
}

.footerInfo {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.footerInfo .info {
    float: left;
    color: #999;
    font-size: 13px;
}
.footerInfo .info .infoTxts a {
    color: #999;
    font-size: 13px;
    line-height: 30px;
}
.footerInfo .familySites {
    float: right;
    padding-top: 70px;
}
.footerInfo .familySites select {
    padding: 2px 4px;
    outline: none;
    border: none;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #999;
}


/* -------------quickMenu------------- */
.quickMenu {
    position: fixed;
    top : 140px;
    right: 0;
    z-index: 1;
}