* {margin: 0; padding: 0;}
ol, ul {list-style: none;}
a {text-decoration: none;}
img {display: block;}



/* ----------------header---------------- */

.gnb {
    /* padding: 12px 20px; */
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 5px #ccc;
    overflow: hidden;
}
.gnbLeft, .gnbRight {
    float: left;
    width: 50%;
}
.gnbLeft ul li {
    float: left;
    margin-right: 10px;
}
.gnbLeft ul li:nth-child(n+2):nth-child(-n+4) a::after {
    content: "▾";
    margin-left: 3px;
}
.gnbLeft ul li:nth-child(n+7) a {
    color: #2463AE;
}


.gnbRight ul {
    float: right;
    padding: 0;
}
.gnbRight ul li {
    display: inline-block;
    border-right: 1px solid #ccc;
    font-size: 11px;
    line-height: 10px;
    padding: 0 6px 0 2px;

}
.gnbRight ul li:last-child {
    padding-right: 0;
    border-right: none;
}
.gnbLeft ul li a, .gnbRight ul li a {
    float: left;
    font-size: 11px;
    color: #666;
}


.haederLogo {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
.haederLogo h1 {
    position: absolute;
    top: 0;
    left: 0;
}


.outerLnbTop, .outerLnbBottom {
    height: 51px;
    background-color: #3A79CD;
}

.outerLnbTop {
    border-bottom: 1px solid #346DB7;
}
.outerLnbBottom {
    border-top: 1px solid #4E87D2;
}

.innerLnbTop, .innerLnbBottom {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.innerLnbTop ul, .innerLnbBottom ul {
    float: right;
}
.innerLnbTop ul li, .innerLnbBottom ul li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 52px;
    padding-left: 30px;
}
.innerLnbTop ul li a, .innerLnbBottom ul li a {
    color: #fff;
}
.innerLnbTop ul li:first-child a {
    padding: 7px 15px;
    background-color: yellow;
    color: #333;
    border-radius: 20px;
}


/* ----------------mainVisual---------------- */

.mainVisual {
    background-color: #C4F1F8;
}
.mainVisual figure img {
    width: 100%;
}


/* ----------------Quiz---------------- */

.outerQuiz {
    background-color: #FFB6C1;
}
.innerQuiz {
    width: 960px;
    margin: 0 auto;
    padding: 45px 0;
    text-align: center;
}
.innerQuiz h2 {
    font-size: 34px;
    color: #DF213D;
    margin-bottom: 40px;
}
.innerQuiz .question {
    height: 34px;
}
.innerQuiz .question span {
    font-size: 30px;
    line-height: 34px;
    color: #383737;
}
.innerQuiz .question {
    margin-bottom: 50px;
}
.contents .moreBtn {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 34px;
    background-color: #383737;
    color: #fff;
    vertical-align: top;
    margin-left: 10px;
}
.innerQuiz .answer {
    width: 960px;
    height: 232px;
    margin-bottom: 30px;
}
.innerQuiz .answer div {
    float: left;
    margin-right: 13.333px;
}
.innerQuiz .answer div:last-child {
    margin-right: 0;
}
.innerQuiz .selectBtn {
    width: 340px;
    margin: 0 auto 50px auto;
    padding: 25px 0 18px 0;
    background-color: #383737;
    border-radius: 50px;
}
.innerQuiz .selectBtn p:first-child {
    color: #FF758A;
    font-size: 18px;
}
.innerQuiz .selectBtn p:last-child {
    color: #fff;
    font-size: 28px;
}
.innerQuiz .quizInfo {
    text-align: left;
    font-size: 11px;
    line-height: 18px;
    color: #383737;
}
.innerQuiz .quizInfo ul li::before {
    content: "•";
    color: #666;
}


/* ----------------join---------------- */
.join {
    width: 960px;
    height: 340px;
    margin: 0 auto;
    padding: 45px 0;
    overflow: hidden;
}
.join .title {
    margin-bottom: 40px;
    text-align: center;
}
.join .title span {
    font-size: 34px;
    font-weight: bold;
}
.join .coupons .couponLeft,
.join .coupons .couponRight {
    float: left;
    height: 261px;
}
.join .coupons .couponLeft {
    width: 497px;
    padding: 0 67px;
    box-sizing: border-box;
}
.join .coupons .couponLeft img {
    margin-bottom: 20px;
}
.join .coupons .couponLeft ul {
    font-size: 11px;
    line-height: 18px;
    color: #666;
}
.join .coupons .couponLeft ul li::before {
    content: "•";
    color: #666;
}
.join .coupons .couponRight {
    width: 463px;
}
.join .coupons .couponRight img {
    float: left;
}
.join .coupons .couponRight img:nth-child(odd) {
    margin-right: 31px;
}
.join .coupons .couponRight img:nth-child(-n+3){
    margin-bottom: 31px;
}


/* ----------------Giftcard---------------- */

.outerGiftcard {
    background-color: #69C9D7;
}
.innerGiftcard {
    width: 960px;
    margin: 0 auto;
    padding: 45px 0;
    text-align: center;
    overflow: hidden;
}
.innerGiftcard h2 {
    font-size: 34px;
    color: #383737;
    margin-bottom: 40px;
}
.innerGiftcard ul li {
    margin-bottom: 15px;
}
.innerGiftcard .items ul {
    width: 960px;
    height: 332px;
}
.innerGiftcard .items ul li {
    float: left;
    margin-right: 15px;
}
.innerGiftcard .items ul li:last-child {
    margin-right: 0;
}


/* ----------------header---------------- */

.outerCollabo {
    background-color: #f3f3f3;
}
.innerCollabo {
    width: 960px;
    height: 250px;
    margin: 0 auto;
    padding: 45px 35px;
    box-sizing: border-box;
    overflow: hidden;
}
.innerCollabo .text, .innerCollabo .collaboCoupon {
    float: left;
}
.innerCollabo .text {
    margin-right: 30px;
}
.innerCollabo .collaboCoupon {
    width: 363px;
    height: 164px;
}
.innerCollabo .text p {
    font-size: 24px;
    color: #383737;
}
.innerCollabo .text p:first-child span {
    font-size: 34px;
    font-weight: bold;
}
.innerCollabo .text p:last-child {
    font-size: 20px;
    margin-top: 25px;
}
.innerCollabo .text p:last-child span {
    color: #F32947;
}


/* ----------------Event---------------- */

.outerEvent {
    background-color: #FFD957;
}
.innerEvent {
    width: 960px;
    height: 647px;
    margin: 0 auto;
    padding: 45px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.innerEvent ul li {
    float: left;
    width: 475px;
    height: 179px;
    margin: 0 10px 10px 0;
}
.innerEvent ul:last-child li {
    margin-bottom: 0;
}
.innerEvent ul li:last-child {
    margin-right: 0;
}


/* ----------------header---------------- */

.outerApp {
    background-color: #000;
}
.innerApp {
    width: 960px;
    height: 505px;
    margin: 0 auto;
    overflow: hidden;
}
.innerApp img {
    width: 100%;
}


/* ----------------header---------------- */

.outerNotice {
    background-color: #f3f3f3;
}
.innerNotice {
    width: 960px;
    margin: 0 auto;
    padding: 45px 0;
    overflow: hidden;
}
.innerNotice p {
    font-size: 13px;
    margin-bottom: 10px;
}
.innerNotice ul li {
    font-size: 11px;
    color: #666;
    line-height: 18px;
}
.innerNotice ul li::before {
    content: "•";
    color: #666;
}


/* ----------------moreEvent---------------- */

.moreEvent {
    width: 960px;
    margin: 25px auto;
    padding: 10px 0;
    background-color: #65AEE0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.moreEvent select {
    width: 400px;
    height: 20px;
    border: none;
    border: 1px solid #ccc;
    font-size: 11px;
    color: #383737;
}


/* ----------------footer---------------- */

footer {
    height: 348px;
    background-color: #DFDFDF;
}
.outerFooterMenu {
    border-bottom: 1px solid #CFCFCF;
}
.innerFooterMenu {
    width: 960px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.innerFooterMenu .footerMenu {
    float: left;
}
.innerFooterMenu select {
    float: right;
}
.innerFooterMenu .footerMenu ul {
    font-size: 0;
    padding: 7px 0;
}
.innerFooterMenu .footerMenu ul li {
    display: inline-block;
    border-right: 1px solid #cfcfcf;
    font-size: 12px;
    line-height: 10px;
    padding: 0 6px;
}
.innerFooterMenu .footerMenu ul li:last-child {
    border-right: none;
} 
.innerFooterMenu .footerMenu ul li a {
    font-size: 12px;
    color: #666;
}
.innerFooterMenu .footerMenu ul li:nth-child(4) a {
    font-weight: bold;
    color: #383737;
} 
.innerFooterMenu select {
    border: none;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 3px 10px;
    font-size: 11px;
    color: #666;
}

.footerContents {
    width: 960px;
    margin: 0 auto;
}

.info {
    height: 160px;
    border-bottom: 1px solid #CFCFCF;
}
.infoLeft, .infoRight {
    float: left;
}
.infoLeft {
    width: 680px;
    padding: 30px 0;
}
.infoLeft .logoFooter,
.infoLeft .infoTxts {
    float: left;
}
.infoLeft .logoFooter {
    padding: 10px 0;
    box-sizing: border-box;
    margin-right: 20px;
}
.infoLeft .infoTxts p {
    font-size: 11px;
    color: #666;
    margin-bottom: 5px;
    line-height: 18px;
}
.infoLeft .infoTxts p:first-child {
    font-size: 13px;
    font-weight: bold;

}

.infoRight {
    width: 280px;
    font-size: 11px;
    color: #383737;
    padding: 30px 0;
    box-sizing: border-box;
}
.infoRight p {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
}
.infoRight p span {
    font-size: 20px;
    font-weight: bold;
}
.infoRight div ul {
    float: left;
    width: 70px;
    height: 45px;
}
.infoRight>ul li {
    float: left;
    text-align: center;
}
.infoRight>ul li a {
    font-size: 12px;
    margin-right: 7px;
    background-color: #fff;
    color: #383737;
    padding: 5px 5px;
}
.infoRight>ul li:last-child a {
    margin-right: 0;
}

.great {
    border-bottom: 1px solid #CFCFCF;
}
.great img {
    width: 100%;
    height: auto;
}
.insure {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}
.insure li {
    float: left;
    color: #666;
    font-size: 12px;
}
.insure li:nth-child(1) {
    font-weight: bold;
    color: #383737;

}
.insure li:nth-child(2) {
    margin-right: 10px;
}
.insure li span a {
    color: #383737;
}